<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Smart Factory</title>
	<link rel="stylesheet" type="text/css" href="../../../build/style.css">
</head>
<body>

<div id="header"></div>

<div class="main-container">

    <div id="unusal-panel">
    	<div id="unsual-setting-block">
    		<h4>通知設定</h4>
    		<div>
    			<span>機台通知設定</span>

    		</div>
    		<div>
    			<span>模具通知設定</span>

    		</div>
    	</div>
    </div>
</div>

<script src="../../../build/bundle/unusual-index.js"></script>

</body>
</html>