<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Smart Factory</title>
	<link rel="stylesheet" type="text/css" href="../../../build/style.css">
</head>
<body>

<div id="header"></div>

<div class="workorder-container">
<form id="workorder-info-form">
	<div class="base-action-panel">
		<button type="button" class="workorder-info-delete-button" id="workorder-info-delete-button">刪除</button>
		<button type="button" class="workorder-info-edit-button" id="workorder-info-edit-button">編輯</button>
		<button type="submit" class="workorder-info-save-button" id="workorder-info-save-button">儲存</button>
		<button type="button" class="workorder-info-cancel-button" id="workorder-info-cancel-button">取消</button>
	</div>

	<div class="workorder-info-panel">
		<ul>
			<li id="workorder-num">
				<span class="info-name">工單編號</span>
				<span class="info-value">
					<p class="view-mode"></p>
					<input class="edit-mode" type="text" name="workorder-num" value="" pattern="[A-Za-z0-9]{1,30}" title="輸入1~30個英數字">
				</span>
			</li>
			<li id="order-num">
				<span class="info-name">訂單編號</span>
				<span class="info-value">
					<p class="view-mode"></p>
					<input class="edit-mode" type="text" name="order-num" value="" pattern="[A-Za-z0-9]{1,30}" title="輸入1~30個英數字">
				</span>
			</li>
			<li id="customer-name">
				<span class="info-name">客戶名稱</span>
				<span class="info-value">
					<p class="view-mode"></p>
					<input class="edit-mode" type="text" name="customer-name" value="">
				</span>
			</li>
			<li id="factory">
				<span class="info-name">生產廠區別</span>
				<span class="info-value">
					<p class="view-mode"></p>
					<!-- <input class="edit-mode" type="text" name="factory" value=""> -->
					<div class="edit-mode dropdown-workorder-factory">
						<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							<span class="factory-focus-name selected-option newOrder" selectname="factory"></span>
							<span class="caret"></span>
						</button>
						<ul class="factory-list dropdown-menu"></ul>
					</div>
				</span>
			</li>
			<li id="workorder-status">
				<span class="info-name">工單狀態</span>
				<span class="info-value">
					<p class="view-mode"></p>
					<!-- <input class="edit-mode" type="text" name="workorder-status" value=""> -->
					<div class="edit-mode dropdown-workorder-status">
						<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							<span class="status-focus-name selected-option newOrder" selectname="workorder-status"></span>
							<span class="caret"></span>
						</button>
						<ul class="status-list dropdown-menu"></ul>
					</div>
				</span>
			</li>
		</ul>
	

	
		<h3 class="resume-header">詳細資訊</h3>
		<ul>
			<li id="input-date">
				<span class="info-name">輸入日期</span>
				<span class="info-value" style="position:relative">
					<p class="view-mode"></p>
					<!-- <input class="edit-mode" type="text" name="input-date" value=""> -->
					<input class="edit-mode selected-option newOrder" type="text" id='workorder-inputDate-date-picker' selectname="input-date" data-date-format="YYYY/MM/DD HH:mm:ss" readonly/>
	                <span class="edit-mode workerorder-date-picker-btn fa fa-calendar"></span>
				</span>
			</li>
			<li id="description">
				<span class="info-name">說明</span>
				<span class="info-value">
					<p class="view-mode"></p>
					<input class="edit-mode" type="text" name="description" value="" >
				</span>
			</li>
			<li id="schedule-date">
				<span class="info-name">預定生產時程</span>
				<span class="info-value" style="position:relative">
					<p class="view-mode"></p>
					<!-- <input class="edit-mode" type="text" name="order-date" value=""> -->
					<input class="edit-mode selected-option newOrder" type="text" id='workorder-reserve-date-picker' selectname="schedule-date" data-date-format="YYYY/MM/DD HH:mm:ss" readonly/>
	                <span class="edit-mode workerorder-date-picker-btn fa fa-calendar"></span>
				</span>
			</li>
			<li id="order-amount">
				<span class="info-name">預定生產數量</span>
				<span class="info-value">
					<p class="view-mode"></p>
					<input class="edit-mode" type="text" name="order-amount" value="" pattern="[0-9]{1,30}" title="輸入數字">
				</span>
			</li>
			<li id="type">
				<span class="info-name">類別</span>
				<span class="info-value">
					<p class="view-mode"></p>
					<!-- <input class="edit-mode" type="text" name="type" value=""> -->
					<div class="edit-mode dropdown-workorder-type">
						<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							<span class="type-focus-name selected-option newOrder" selectname="type"></span>
							<span class="caret"></span>
						</button>
						<ul class="type-list dropdown-menu"></ul>
					</div>
				</span>
			</li>
			<li id="real-produce-date">
				<span class="info-name">實際開始生產日期</span>
				<span class="info-value" style="position:relative">
					<p class="view-mode"></p>
					<!-- <input class="edit-mode" type="text" name="real-produce-date" value=""> -->
					<input class="edit-mode selected-option newOrder" type="text" id='workorder-real-produce-date-picker' selectname="real-produce-date" data-date-format="YYYY/MM/DD HH:mm:ss" readonly/>
	                <span class="edit-mode workerorder-date-picker-btn fa fa-calendar"></span>
				</span>
			</li>
			<li id="real-amount">
				<span class="info-name">實際完成數量</span>
				<span class="info-value">
					<p class="view-mode"></p>
					<input class="edit-mode" type="text" name="real-amount" value="" pattern="[0-9]{1,30}" title="輸入數字">
				</span>
			</li>
			<li id="defective-amount">
				<span class="info-name">不良品數量</span>
				<span class="info-value">
					<p class="view-mode"></p>
					<input class="edit-mode" type="text" name="defective-amount" value="" pattern="[0-9]{1,30}" title="輸入數字">
				</span>
			</li>
			<li id="abnormal-amount">
				<span class="info-name">異常數量</span>
				<span class="info-value">
					<p class="view-mode"></p>
					<input class="edit-mode" type="text" name="abnormal-amount" value="" pattern="[0-9]{1,30}" title="輸入數字">
				</span>
			</li>
			<li id="real-finish">
				<span class="info-name">實際結案日期</span>
				<span class="info-value" style="position:relative">
					<p class="view-mode"></p>
					<!-- <input class="edit-mode" type="text" name="real-finish" value=""> -->
					<input class="edit-mode selected-option newOrder" type="text" id='workorder-real-finish-date-picker' selectname="real-finish" data-date-format="YYYY/MM/DD HH:mm:ss" readonly/>
	                <span class="edit-mode workerorder-date-picker-btn fa fa-calendar"></span>
				</span>
			</li>
		</ul>
	</div>

</form>
</div>


<script src="../../../build/bundle/workorder-info.js"></script>

</body>
</html>