<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Smart Factory</title>
	<link rel="stylesheet" type="text/css" href="../../../build/style.css">
</head>
<body>

<div id="header"></div>

<div class="main-container">
  <div class="row">
    <div class="col-xs-12">

      <button class="new-button" id="member-new-button">新增使用者</button>

      <ul id="member-table">
        <li class="table-header">
          <div class="table-col">帳號</div>
          <div class="table-col">信箱</div>
          <div class="table-col">身份</div>
          <div class="table-col"></div>
        </li>
        <div id="member-table-body"></div>
      </ul>
    </div>
  </div>
</div>

<script src="../../../build/bundle/member-index.js"></script>

</body>
</html>