<header id="header">
	<nav class="navbar navbar-fixed-top">
	    <ul class="nav navbar-nav">
	        <li class="active"><a href="../realtime">實時資訊</a></li>
	        <li><a href="../machine">射出機台管理</a></li>
	        <li><a href="../mold">模具管理</a></li>
	        <li><a href="../workorder">工單管理</a></li>
	        <li><a href="../unusual">異常管理</a></li>
	        <li><a href="../member">使用者帳號管理</a></li>
	        <li><a href="../history">歷史資料分析</a></li>
	    </ul>
	    <ul class="nav navbar-nav pull-right">
	        <li class="account"><a href="#"><img src="../../../images/account-type/customer.png" height="70" width="100" alt=""></a></li>
	        <li><a href="#">客戶名稱</a></li>
	    </ul>
	</nav>
</header>