<header id="header">
	<nav class="navbar navbar-fixed-top">
	    <ul id="navbar-item-block" class="nav navbar-nav" >
	        <li class="navbar-item"><a href="../realtime">實時資訊</a></li>
	        <li class="navbar-item"><a href="../machine">射出機台管理</a></li>
	        <li class="navbar-item"><a href="../mold">模具管理</a></li>
	        <li class="navbar-item"><a href="../workorder">工單管理</a></li>
	        <li class="navbar-item"><a href="../alarm">維護管理</a></li>
	        <li class="navbar-item"><a href="../member">使用者帳號管理</a></li>
	        <li class="navbar-item"><a href="../history">歷史資料分析</a></li>
	        <li class="navbar-item"><a href="../compare">宏塑資料比較</a></li>
	    </ul>
	    <ul class="nav navbar-nav pull-right">
	        <li class="account">
	        	<span id="user-name">客戶名稱</span>
	        	<div id="user-avatar" class="dropdown-toggle" data-toggle="dropdown">
					<img src="../../../images/account-type/customer.png" height="70" width="100" alt="">
				</div>
				<ul class="dropdown-menu">
					<li><a href="../user">帳戶設定</a></li>
					<li><a id="logout-btn">登出</a></li>
				</ul>
	        </li>

	    </ul>
	</nav>
</header>