<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Smart Factory</title>
	<link rel="stylesheet" type="text/css" href="../../../build/style.css">
	<link rel="stylesheet" type="text/css" href="../../../build/fancybox.css">
</head>
<body>

<div id="header"></div>

<div class="main-container">

    <div id="realtime-panel" class="row">
		<div id="realtime-pic-block">
			<div id="realtime-pic-title"></div>
			<div id="realtime-pic-item-block"></div>
		</div>
    </div>
</div>

<script src="../../../build/bundle/realtime-listpic.js"></script>

</body>
</html>