<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Smart Factory</title>
	<link rel="stylesheet" type="text/css" href="../../../build/style.css">
</head>
<body>

<div id="header"></div>

<div class="main-container">

    <div class="pull-left">
        <select name="" id="">
            <option value="">中山廠</option>
        </select>
        <select name="" id="">
            <option value="">列表模式</option>
        </select>
    </div>

    <div class="pull-right">
        <select name="" id="">
            <option value="">工單編號</option>
        </select>
    </div>

    <div id="realtime-panel" class="row">
        <div class="col-xs-12">

        	<ul id="realtime-table">
				<li class="table-header">
					<div class="table-col">工單編號</div>
                	<div class="table-col">射出機台編號</div>
                	<div class="table-col">模具編號</div>
                	<div class="table-col">客戶名稱</div>
                	<div class="table-col-sm">預計生產總數量</div>
                	<div class="table-col-sm">本次開始生產時間</div>
                	<div class="table-col-sm">目前正常/異常數量</div>
                	<div class="table-col-sm">不良品數量</div>
                	<div class="table-col">圖像列表</div>
				</li>

				<li class="table-item">
					<div class="table-col">0031</div>
                	<div class="table-col">M150001</div>
                	<div class="table-col">123456</div>
                	<div class="table-col">moremote</div>
                	<div class="table-col-sm">1000</div>
                	<div class="table-col-sm">2015/07/10</div>
                	<div class="table-col-sm">500/15</div>
                	<div class="table-col-sm">15</div>
                	<div class="table-col">
                		<span class="btn btn-default">即時</span>
	                	<span class="btn btn-default">安全</span>
	                	<span class="btn btn-default">異常</span>
                	</div>
				</li>
				<li class="table-item">
					<div class="table-col">0031</div>
                	<div class="table-col">M150001</div>
                	<div class="table-col">123456</div>
                	<div class="table-col">moremote</div>
                	<div class="table-col-sm">1000</div>
                	<div class="table-col-sm">2015/07/10</div>
                	<div class="table-col-sm">500/15</div>
                	<div class="table-col-sm">15</div>
                	<div class="table-col">
                		<span class="btn btn-default">即時</span>
	                	<span class="btn btn-default">安全</span>
	                	<span class="btn btn-default">異常</span>
                	</div>
				</li>

			</ul>
        </div>
    </div>
</div>

<script src="../../../build/bundle/realtime-index.js"></script>

</body>
</html>