<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Smart Factory</title>
	<link rel="stylesheet" type="text/css" href="../../../build/style.css">
</head>
<body>

<div id="header"></div>

<div class="main-container">

    <div class="pull-left">
        <select name="" id="">
            <option value="">中山廠</option>
        </select>
        <select name="" id="">
            <option value="">列表模式</option>
        </select>
    </div>

    <div class="pull-right">
        <select name="" id="">
            <option value="">工單編號</option>
        </select>
    </div>

    <div id="real-time-panel" class="row">
        <div class="col-xs-12">

            <table id="real-time-table" class="table table-striped">
	            <thead>
	                <tr>
	                	<th>工單編號</th>
	                	<th>射出機台編號</th>
	                	<th>模具編號</th>
	                	<th>客戶名稱</th>
	                	<th class="sm">
	                		<span>預計生產</span><span>總數量</span>
	                	</th>
	                	<th>本次開始生產時間</th>
	                	<th class="sm">
	                		<span>目前正常/</span><span>異常數量</span>
	                	</th>
	                	<th class="sm">
	                		<span>不良品</span><span>數量</span>
	                	</th>
	                	<th>圖像列表</th>
	                </tr>
	            </thead>

	            <tbody>
	                <tr class="real-time-item">
	                	<td>0031</td>
	                	<td>M150001</td>
	                	<td>1234</td>
	                	<td>moremote</td>
	                	<td>1000</td>
	                	<td>2015/07/10</td>
	                	<td>500/15</td>
	                	<td>15</td>
	                	<td>
	                		<span class="btn btn-default">即時</span>
	                		<span class="btn btn-default">安全</span>
	                		<span class="btn btn-default">異常</span>
	                	</td>
	                </tr>

	            </tbody>
            </table>

        </div>
    </div>
</div>

<script src="../../../build/bundle/realtime-index.js"></script>

</body>
</html>