.btn {
	font-size: @font-size;
}

.custom-default() {
	.btn;
	min-width: 120px;
	height: 2.2em;
	line-height: 2.2em;
	padding: 0;
}

.detail-info-button {
	.custom-default;
	.btn-default;
	min-width: 100px;
}

.new-button {
	.custom-default;
	.btn-warning;
}

/* detail info page button */
.info-save-button {
	.custom-default;
	.btn-default;
	display: none;
}

.info-edit-button {
	.custom-default;
	.btn-default;
}

.info-cancel-button {
	.custom-default;
	.btn-default;
	display: none;
}

.info-delete-button {
	.custom-default;
	.btn-default;
}

.info-back-button {
	.custom-default;
	.btn-default;
}

.record-new-button {
	.custom-default;
	.btn-warning;
	min-width: 100px;
}

.record-cancel-button {
	.custom-default;
	.btn-default;
	min-width: 100px;
}

.record-delete-button {
	.custom-default;
	.btn-danger;
	min-width: 100px;
}

.date-picker-btn {
	margin: 0 15px 0 -35px;
	cursor: pointer;
	pointer-events: none;
}

.workerorder-date-picker-btn {
	margin: 0 0 0 -25px;
	cursor: pointer;
	pointer-events: none;
	position: absolute;
    top: 3px;
}


.workorder-info-save-button {
	.custom-default;
	.btn-default;
	display: none;
}

.workorder-info-edit-button {
	.custom-default;
	.btn-default;
}

.workorder-info-cancel-button {
	.custom-default;
	.btn-default;
}

.workorder-info-delete-button {
	.custom-default;
	.btn-default;
}

.pic-upload-button {
	.custom-default;
	.btn-default;
}

.realtime-showpic-btn {
	.btn;
	.btn-success;
	padding: 4px 6px;

	&:first-child {
		.btn-info;
	}

	&:last-child {
		.btn-danger;
	}

	&.img-mode {
		padding: 5px 10px;
    	margin-bottom: 10px;
	}
}

.realtime-back-btn {
	.custom-default;
	.btn-default;
}

.switch-btn {
    width: 80px;
    height: 30px;
    position: relative;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    display: inline-block;
    color: #fff;
    cursor: pointer;

    -webkit-transition: background-color 1.5s;
	   -moz-transition: background-color 1.5s;
		-ms-transition: background-color 1.5s;
		 -o-transition: background-color 1.5s;
		    transition: background-color 1.5s;

    &.on {
    	background-color: @brand-info;
    }

    &.off {
    	background-color: @silver;
    }

    .switch-bar {
	    width: 40px;
	    height: 30px;
	    background-color: #fff;
	    border: 1px solid #ccc;
	    -webkit-border-radius: 4px;
	            border-radius: 4px;
	    position: absolute;
	    display: inline-block;
	    text-align: center;
	    float: left;
	    margin-top: -1px;
	    line-height: 1.8em;
	    z-index: 10;
	    cursor: pointer;
	}

	.switch-bar-icon {
	    font-size: 16px;
	    font-weight: bold;
	    color: @silver;
	}

	.switch-tag {
	    width: 40px;
	    height: inherit;
	    position: absolute;
	    top: 0;
	    line-height: 1.9em;
	    font-size: 16px;
	    text-align: center;

	    &.on {
	    	left: 0;
	    }

	    &.off {
	    	right: 0;
	    }
	}
}

#alarm-save-btn {
	.custom-default;
	.btn-warning;
	min-width: 90px;
	line-height: inherit;
}

#alarm-cancel-btn {
	.custom-default;
	.btn-default;
	min-width: 90px;
	line-height: inherit;
}

.member-edit-button {
	.btn;
	.btn-info;
}