.divide-line {
	width: 100%;
	height: 3px;
	background-color: @brand-info;
	z-index: 3;
}

.Spinner {
	position: absolute !important;
	left: 50%;
	top: 50%;
}

.caret {
	border-top: 6px dashed;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
	cursor: pointer;

	&.desc,
	&.asc {
		-webkit-transform: rotate(180deg);
		   -moz-transform: rotate(180deg);
		    -ms-transform: rotate(180deg);
		     -o-transform: rotate(180deg);
		        transform: rotate(180deg);
	}
}