<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Smart Factory</title>
	<link rel="stylesheet" type="text/css" href="../../../build/style.css">
</head>
<body>

<div id="header"></div>

<div class="main-container">

    <div id="history-panel">
    	<div id="history-select-block">
    		<div class="col-xs-8">
    			<div class="dropdown-factory-filter">
					<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						<span class="factory-focus-name"></span>
						<span class="caret"></span>
					</button>
					<ul class="factory-list dropdown-menu"></ul>
				</div>
	    		<div class="dropdown-history-filter">
					<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						<span id="filter-focus-item-name"></span>
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a class="option-item" data-id="workorder_id">工單編號</a></li>
						<li><a class="option-item" data-id="machine_id">射出機台編號</a></li>
						<li><a class="option-item" data-id="mold_id">模具編號</a></li>
						<li><a class="option-item" data-id="customer_id">客戶名稱</a></li>
						<li><a class="option-item" data-id="date_period">時間區間</a></li>
					</ul>
				</div>
				<div id="dropdown-value-list">
					<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						<span id="focus-value"></span>
						<span class="caret"></span>
					</button>
					<ul id="filter-value-list" class="dropdown-menu"></ul>
				</div>
				<div id="history-date-block">
					<span>自 </span>
					<input type="text" id='history-start-date-picker' data-date-format="YYYY/MM/DD" readonly/>
					<span> 至 </span>
					<input type="text" id='history-end-date-picker' data-date-format="YYYY/MM/DD" readonly/>
				</div>
				<button id="history-search-btn" class="btn btn-info">搜尋</button>
    		</div>

    		<div class="col-xs-4">
			</div>
    	</div>

        <div id="history-list-block" class="hidden">
        	<div id="history-img-block" class="hidden"></div>

        	<ul id="history-table-block">
				<li class="table-header">
					<div class="table-col">工單編號</div>
                	<div class="table-col">射出機台編號</div>
                	<div class="table-col">模具編號</div>
                	<div class="table-col">客戶名稱</div>
                	<div class="table-col-sm">預計生產總數量</div>
                	<div class="table-col-sm">本次開始生產時間</div>
                	<div class="table-col-sm">目前正常/異常數量</div>
                	<div class="table-col-sm">不良品數量</div>
                	<div class="table-col-lg">圖像列表</div>
				</li>
				<div class="history-table-body"></div>
			</ul>
        </div>

    </div>
</div>

<script src="../../../build/bundle/history-index.js"></script>

</body>
</html>