<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Smart Factory</title>
	<link rel="stylesheet" type="text/css" href="../../../build/style.css">
</head>
<body>

<div id="header"></div>

<div class="main-container">

    <div id="history-panel">
    	<div id="history-select-block">
    		<div class="col-xs-6">
    			<div class="dropdown-factory-filter">
					<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						<div class="factory-focus-name"></div>
						<span class="caret"></span>
					</button>
					<ul class="factory-list dropdown-menu"></ul>
				</div>

	    		<div class="dropdown-history-filter">
					<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						<div id="filter-focus-item-name" class="dropdown-focus-name"></div>
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a class="option-item" data-id="work_order_id">工單編號</a></li>
						<li><a class="option-item" data-id="machine_id">射出機台編號</a></li>
						<li><a class="option-item" data-id="mold_id">模具編號</a></li>
						<li><a class="option-item" data-id="customer_id">客戶名稱</a></li>
						<li><a class="option-item" data-id="date_period">時間區間</a></li>
					</ul>
				</div>

				<div id="dropdown-value-list">
					<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						<div id="focus-value" class="dropdown-focus-name"></div>
						<span class="caret"></span>
					</button>
					<ul id="filter-value-list" class="dropdown-menu"></ul>
				</div>
    		</div>

    		<div id="history-date-period-block" class="hidden">
    			<button id="history-search-btn" class="btn btn-info pull-right">搜尋</button>
    			<div id="history-date-block" class="pull-right">
					<span>自 </span>
					<input type="text" id='history-start-date-picker' data-date-format="YYYY-MM-DD" readonly/>
	                <span id="history-start-date-btn" class="date-picker-btn fa fa-calendar"></span>
					<span> 至 </span>
					<input type="text" id='history-end-date-picker' data-date-format="YYYY-MM-DD" readonly/>
	                <span id="history-end-date-btn" class="date-picker-btn fa fa-calendar"></span>
				</div>
			</div>
    	</div>

    	<div class="divide-line"></div>

        <div id="history-list-block">
        	<div id="history-img-block" class="hidden"></div>

        	<ul id="history-table-block">
				<li class="table-header">
					<div class="table-col work">工單編號</div>
                	<div class="table-col work">射出機台編號</div>
                	<div class="table-col work">模具編號</div>
                	<div class="table-col work">客戶名稱</div>
                	<div class="table-col work">實際開始生產時間</div>
                	<div class="table-col work">實際結束生產時間</div>
                	<div class="table-col-sm work">合模次數</div>
                	<div class="table-col-sm work">異常次數</div>
                	<div class="table-col-sm work">稼動率</div>
				</li>
				<div id="history-table-body"></div>
			</ul>
        </div>

    </div>
</div>

<script src="../../../build/bundle/history-index.js"></script>

</body>
</html>