<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Smart Factory</title>
	<link rel="stylesheet" type="text/css" href="../../../build/style.css">
</head>
<body>

<div id="header"></div>

<div class="main-container">

    <div id="mold-panel">
        <div  id="mold-select-block">
            <div class="col-xs-4">
                <div class="dropdown-factory-filter">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="factory-focus-name"></span>
                        <span class="caret"></span>
                    </button>
                    <ul class="factory-list dropdown-menu"></ul>
                </div>
            </div>
            <div id="mold-filter-search">
                <div class="input-group pull-right">
                    <input type="text" class="search-input" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="search-btn">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <div class="dropdown-filter pull-right">
                    <button id="mold-filter" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span id="filter-focus-item-name" class="dropdown-focus-name"></span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="option-item" data-id="mold_serial_num">模具編號</a></li>
                        <li><a class="option-item" data-id="mold_name">模具名稱</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-1 text-right">
                <button class="new-button" id="mold-new-button">新增模具</button>
            </div>
        </div>

        <div class="col-xs-12">
            <ul class="col-xs-12" id="mold-table">
                <li class="table-header">
                    <div class="table-col">模具圖面</div>
                    <div class="table-col">成品圖面</div>
                    <div class="table-col">模具編號</div>
                    <div class="table-col">模具名稱</div>
                    <div class="table-col">建立日期</div>
                    <div class="table-col">尺寸(單位:mm)(長/寬/高)</div>
                    <div class="table-col">重量(單位 : kg)</div>
                    <div class="table-col"></div>
                </li>
                <div id="mold-table-body"></div>
            </ul>
        </div>
    </div>
</div>

<script src="../../../build/bundle/mold-index.js"></script>

</body>
</html>