<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Smart Factory</title>
	<link rel="stylesheet" type="text/css" href="../../../build/style.css">
    <link rel="stylesheet" type="text/css" href="../../../build/jquery-ui.css">
</head>
<body>

<div id="header"></div>

<div class="main-container">

    <div id="alarm-panel">
    	<div id="alarm-setting-block">
            <div class="alarm-setting-button-block">
                <button id="alarm-save-btn">儲存設定</button>
                <button id="alarm-cancel-btn">取消</button>
            </div>
            <div class="alarm-setting-item">
        		<div class="alarm-title">
        			<span>機台維護設定</span>
                    <hr>
        		</div>
                <div class="alarm-content">
                    <div class="alarm-content-item">
                        <span class="content-lebel">機台保養通知</span>
                        <div id="machine-switch" class="content-option">
                            <div class="switch-btn" id="machine" data-key="machine_enable" data-type="enable">
                                <div class="switch-bar"><span class="switch-bar-icon">| |</span></div>
                                <span class="switch-tag on">On</span>
                                <span class="switch-tag off">Off</span>
                                <input type="checkbox" class="hidden" />
                            </div>
                        </div>
                    </div>

                    <div id="alarm-content-machine" class="alarm-content-list">
                        <div class="alarm-content-item">
                            <span class="content-lebel">到期通知</span>
                            <span class="content-option">保養到期前
                            <input class="alarm-date" data-key="machine_alarm_date" data-type="date" type="text" placeholder="1">
                            日通知</span>
                        </div>
                        <div class="alarm-content-item">
                            <span class="content-lebel">通知方式</span>
                            <div class="content-option">
                                <div id="alarm-type-machine" class="alarm-type-dropdown" data-key="machine_alarm_type" data-type="type">
                                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <span class="dropdown-focus-name">E-mail</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="alarm-setting-item">
        		<div class="alarm-title">
        			<span>模具維護設定</span>
                    <hr>
        		</div>
                <div class="alarm-content">
                    <div class="alarm-content-item">
                        <span class="content-lebel">模具保養通知</span>
                        <div id="mold-switch" class="content-option">
                            <div class="switch-btn" id="mold" data-key="mold_enable" data-type="enable">
                                <div class="switch-bar"><span class="switch-bar-icon">| |</span></div>
                                <span class="switch-tag on">On</span>
                                <span class="switch-tag off">Off</span>
                                <input type="checkbox" class="hidden"/>
                            </div>
                        </div>
                    </div>

                    <div id="alarm-content-mold" class="alarm-content-list">
                        <div class="alarm-content-item">
                            <span class="content-lebel">到期通知</span>
                            <span class="content-option">保養到期前
                            <input class="alarm-date" type="text" placeholder="1" data-key="mold_alarm_date" data-type="date" >
                            日通知</span>
                        </div>
                        <div class="alarm-content-item">
                            <span class="content-lebel">通知方式</span>
                            <div class="content-option">
                                <div id="alarm-type-mold" class="alarm-type-dropdown" data-key="mold_alarm_type" data-type="type">
                                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <span class="dropdown-focus-name">E-mail</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu"></ul>
                                </div>
                            </div>
                        </div>
                        <div class="alarm-content-item">
                            <span class="content-lebel">
                                使用率達
                                <span id="alarm-percentage-mold" data-id="mold" data-key="mold_alarm_percentage" data-type="percentage">80%</span>
                                通知
                            </span>
                            <div class="content-option">
                                <div id="slider-group-mold" class="slider-group">
                                    <button class="alarm-slider-minus btn-slider">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                    <div id="slider-seekbar-mold" class="slider-seekbar" slider-id="mold"></div>
                                    <button class="alarm-slider-plus btn-slider">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    	</div>
    </div>
</div>

<script src="../../../build/bundle/alarm-index.js"></script>

</body>
</html>