#realtime-panel {
	.make-row();

	#realtime-select-block {
		.make-xs-column(12);
		padding: 0;

		.realtime-dropdown {
			.custom-dropdown();
		}

		.input-group {
			max-width: 250px;
			height: 36px;
			padding: 0;

    		input {
				height: inherit;
			}

			.input-group-btn {
				height: inherit;

				#realtime-search-btn {
					height: inherit;

					.fa {
						font-size: @font-lg-size;
					}
				}
			}
		}
	}

	#realtime-list-block {
		.make-xs-column(12);

		#realtime-table-mode {
			.custom-table();

			.table-col {
				.custom-table-col(12%);
			}

			.table-col-sm {
				.custom-table-col(9%);
				text-align: right;
			}

			.realtime-show-live-pic-btn {
				.btn;
				.btn-info;
			}

			.realtime-show-sample-pic-btn {
				.btn;
				.btn-success;
			}

			.realtime-show-err-pic-btn {
				.btn;
				.btn-danger;
			}
		}
	}
}
