#member-table {
	.custom-table();

	.table-col {
		.custom-table-col(2);
	}
}


#user-setting > .row {
	.btn {

		color: @alizarin;
		border: @alizarin 2px solid;
		border-radius: 0;

		&:hover {
			background-color: #FFF;
		}
	}

	.form-group {
    margin-bottom: 25px;
	}

	input {
		border: #FFF 1px solid;
		box-shadow: inset 0 1px 1px rgba(0,0,0,0);
		border-bottom: @silver 1px solid;
		border-radius: 0;
	}
}
