<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Smart Factory</title>
	<link rel="stylesheet" type="text/css" href="../../../build/style.css">
</head>
<body class="detail-page-html-body">

<div id="header"></div>

<form class="detail-page-container" id="machine-detail-page">
	<div class="base-action-panel">
		<button type="button" class="info-delete-button" id="machine-delete-button">刪除</button>
		<button type="button" class="info-edit-button" id="machine-edit-button">編輯</button>
		<button type="submit" class="info-save-button" id="machine-save-button">儲存</button>
		<button type="button" class="info-back-button" id="machine-back-button">回列表</button>
		<button type="button" class="info-cancel-button" id="machine-cancel-button">取消</button>
	</div>
	<div class="base-info-panel">
		<ul>
			<li id="machine-id">
				<span class="info-name">射出機台編號</span>
				<span class="info-value">
					<p class="view-mode"></p>
					<input class="edit-mode" type="text" name="id" value="" pattern="[A-Za-z0-9]{1,10}" title="輸入1~10個英數字" required>
				</span>
			</li>
			<li id="machine-name">
				<span class="info-name">機種名稱</span>
				<span class="info-value">
					<p class="view-mode"></p>
					<input class="edit-mode" type="text" name="name" value="">
				</span>
			</li>
			<li id="machine-weight">
				<span class="info-name">噸數</span>
				<span class="info-value">
					<p class="view-mode"></p>
					<input class="edit-mode" type="text" name="weight" value="" pattern="[0-9]{1,10}" title="輸入數字">
				</span>
			</li>
			<li><!-- TODO: add id -->
				<span class="info-name">機台稼動率</span>
				<span class="info-value">
					<p class="view-mode"></p>
					<input class="edit-mode" type="text" name="todo" value="" pattern="[0-9]{1,3}" title="輸入數字">
					<span>%</span>
				</span>
			</li>
		</ul>
	</div>
	<section class="production-resume-panel">
		<h3 class="resume-header">生產履歷</h3>
		<ul>
			<li id="machine-noticed-person">
				<span class="resume-name">保養通知</span>
				<span class="resume-value">
					<p class="view-mode"></p>
					<div class="edit-mode dropdown">
						<button class="btn btn-default dropdown-toggle"
										id="machine-notice-dropdown"
										data-toggle="dropdown"
										aria-haspopup="true"
										aria-expanded="true">
							<span class="selected-option" name="admin_id"></span>
							<span class="caret"></span>
						</button>
						<!-- TODO: add real id -->
						<ul class="dropdown-menu" aria-labelledby="machine-notice-dropdown">
							<li><a>1</a></li>
							<li><a>2</a></li>
							<li><a>3</a></li>
						</ul>
					</div>
				</span>
			</li>
			<li id="machine-check-period">
				<span class="resume-name">小保養週期</span>
				<span class="resume-value">
					<span class="view-mode"></span>
					<span class="view-mode"></span>
					<input class="edit-mode" type="text" name="check_period" value="" pattern="[0-9]{1,10}" title="輸入數字" required>
					<div class="edit-mode dropdown">
						<button class="btn btn-default dropdown-toggle"
										id="machine-check-period-dropdown"
										data-toggle="dropdown"
										aria-haspopup="true"
										aria-expanded="true">
							<span class="selected-option" name="todo"></span>
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" aria-labelledby="machine-check-period-dropdown">
							<li><a class="option" type="天">天</a></li>
							<li><a class="option" type="週">週</a></li>
							<li><a class="option" type="月">月</a></li>
						</ul>
					</div>
				</span>
			</li>
			<li>
				<span class="resume-name">小保養紀錄</span>
				<span class="resume-value">
				</span>
			</li>
			<li id="machine-maintain-period">
				<span class="resume-name">大保養週期</span>
				<span class="resume-value">
					<span class="view-mode"></span>
					<span class="view-mode"></span>
					<input class="edit-mode" type="text" name="maintain_period" value="" pattern="[0-9]{1,10}" title="輸入數字" required>
					<div class="edit-mode dropdown">
						<button class="btn btn-default dropdown-toggle"
										id="machine-maintain-period-dropdown"
										data-toggle="dropdown"
										aria-haspopup="true"
										aria-expanded="true">
							<span class="selected-option" name="todo"></span>
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" aria-labelledby="machine-maintain-period-dropdown">
							<li><a class="option" type="週">週</a></li>
							<li><a class="option" type="月">月</a></li>
							<li><a class="option" type="年">年</a></li>
						</ul>
					</div>
				</span>
			</li>
			<li>
				<span class="resume-name">大保養紀錄</span>
				<span class="resume-value">
				</span>
			</li>
			<li>
				<span class="resume-name">異常維修紀錄</span>
				<span class="resume-value">
				</span>
			</li>
		</ul>
	</section>
</form>

<script src="../../../build/bundle/machine-info.js"></script>

</body>
</html>