<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Smart Factory</title>
	<link rel="stylesheet" type="text/css" href="../../../build/style.css">
</head>
<body>

<div id="header"></div>

<div class="main-container">
    <div class="row">
        <div class="col-xs-12">
            <button class="new-button">新增機台</button>

            <ul id="machine-table">
                <li class="table-header">
                    <div class="table-col">射出機台編號</div>
                    <div class="table-col">機種名稱</div>
                    <div class="table-col">噸數</div>
                    <div class="table-col">設備稼動率</div>
                    <div class="table-col"></div>
                </li>
                <li class="table-item">
                    <div class="table-col">M150001</div>
                    <div class="table-col">台中精機S150</div>
                    <div class="table-col">150</div>
                    <div class="table-col">20%</div>
                    <div class="table-col">
                        <button class="detail-info-button">詳細資訊</button>
                    </div>
                </li>
                <li class="table-item">
                    <div class="table-col">M150001</div>
                    <div class="table-col">台中精機S150</div>
                    <div class="table-col">150</div>
                    <div class="table-col">20%</div>
                    <div class="table-col">
                        <button class="detail-info-button">詳細資訊</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<script src="../../../build/bundle/realtime-index.js"></script>

</body>
</html>