<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Smart Factory</title>
	<link rel="stylesheet" type="text/css" href="../../../build/style.css">
</head>
<body>

<div id="header"></div>

<div class="main-container">
    <div class="row" id="machine-panel">
        <div id="machine-select-block">
            <div class="col-xs-12">
                <div class="col-xs-4">
                    <div class="dropdown-factory-filter">
                        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="factory-focus-name"></span>
                            <span class="caret"></span>
                        </button>
                        <ul class="factory-list dropdown-menu"></ul>
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="input-group pull-right">
                        <input id="machine-search-input" type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button id="machine-search-btn" class="btn btn-info">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    <div class="dropdown-history-filter pull-right">
                        <button id="machine-filter" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span id="machine-filter-focus" class="dropdown-focus-name"></span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a class="filter-item" data-id="machine_serial_num">射出機台編號</a></li>
                            <li><a class="filter-item" data-id="machine_name">機種名稱</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-2 text-center">
                    <button class="new-button" id="machine-new-button">新增機台</button>
                </div>
            </div>
        </div>

        <div class="divide-line"></div>

        <div id="machine-list-block">
            <ul id="machine-table">
                <li class="table-header">
                    <div class="table-col">射出機台編號</div>
                    <div class="table-col">機種名稱</div>
                    <div class="table-col">噸數</div>
                    <div class="table-col">設備稼動率</div>
                    <div class="table-col"></div>
                </li>
                <div id="machine-table-body"></div>
            </ul>
        </div>
        <div class="col-xs-12" id="machine-zero-block">
            無資料顯示
        </div>
    </div>
</div>

<script src="../../../build/bundle/machine-index.js"></script>

</body>
</html>