<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Smart Factory</title>
	<link rel="stylesheet" type="text/css" href="../../../build/style.css">
</head>
<body>

<div id="header"></div>

<div class="main-container">
    <div class="row">
        <div class="col-xs-12">
            <button class="new-button">新增機台</button>
            <table class="table table-striped">
                <thead>
                    <tr class="machine-list">
                        <td class="list-column">射出機台編號</td>
                        <td class="list-column">機種名稱</td>
                        <td class="list-column">噸數</td>
                        <td class="list-column">設備稼動率</td>
                        <td class="list-column"></td>
                    </tr>                    
                </thead>
                <tbody>                    
                    <tr class="machine-list">
                        <td class="list-column">M150001</td>
                        <td class="list-column">台中精機S150</td>
                        <td class="list-column">150</td>
                        <td class="list-column">20%</td>
                        <td class="list-column">
                            <button class="detail-info-button">詳細資訊</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>    
    </div>
</div>

<script src="../../../build/bundle/realtime-index.js"></script>

</body>
</html>