<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Smart Factory</title>
	<link rel="stylesheet" type="text/css" href="../../../build/style.css">
</head>
<body>

<div id="header"></div>

<div class="main-container">
    <div id="compare-panel">
    	<div id="compare-select-block">
    		<div id="compare-filter-search">
				<div class="input-group pull-right">
					<input type="text" class="search-input" placeholder="輸入工單編號">
					<span class="input-group-btn">
						<button id="compare-search-btn" class="btn btn-info">
							<i class="fa fa-search"></i>
						</button>
					</span>
				</div>
			</div>
    	</div>

    	<div class="divide-line"></div>

        <div id="compare-list-block" class="hidden">
        	<div id="list-header">
        		<ul id="label-header"></ul>
        		<ul id="smartfac-header" >Smart Factory Database</ul>
        		<ul id="foreshot-header" >Foreshot Database</ul>
        	</div>
        	<div id="list-content">
	        	<ul id="label-list" class="text-right">
	        		<li>工單編號</li>
	        		<li>訂單編號</li>
	        		<li>客戶名稱</li>
	        		<li>生產廠區別</li>
	        		<li>工單狀態</li>
	        		<li>訂單輸入日期</li>
	        		<li>說明</li>
	        		<li>預定排程日期</li>
	        		<li>目標生產數量</li>
	        		<li>生產類型</li>
	        		<li>實際開工日期</li>
	        		<li>目前完成次數</li>
	        		<li>目前異常次數</li>
	        		<li>異常品數量</li>
	        		<li>實際完成日期</li>
	        	</ul>
	    		<ul id="smartfac-list"></ul>
				<ul id="foreshot-list"></ul>
			</div>
        </div>
        <div id="compare-dafault-block">
        	請輸入搜尋工單編號
        </div>
    </div>
</div>

<script src="../../../build/bundle/compare-index.js"></script>

</body>
</html>
