<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Smart Factory</title>
	<link rel="stylesheet" type="text/css" href="../../../build/style.css">
</head>
<body>

<div id="header"></div>

<div class="main-container">
    <div id="compare-panel">
    	<div id="compare-select-block">
    		<div id="compare-filter-search">
				<div class="input-group pull-right">
					<input type="text" class="search-input" placeholder="輸入工單編號">
					<span class="input-group-btn">
						<button id="compare-search-btn" class="btn btn-info">
							<i class="fa fa-search"></i>
						</button>
					</span>
				</div>
			</div>
    	</div>

    	<div class="divide-line"></div>

        <div id="compare-list-block" class="hidden">
        	<!-- <ul id="foreshot-table">
				<li class="table-header">
					<div class="table-col-lg">工單編號</div>
                	<div class="table-col-lg">訂單編號</div>
                	<div class="table-col">客戶名稱</div>
                	<div class="table-col">工單狀態</div>
                	<div class="table-col">輸入日期</div>
                	<div class="table-col"></div>
				</li>
				<div class="foreshot-table-body"></div>
			</ul>
			<ul id="smartfac-table">
				<li class="table-header">
					<div class="table-col-lg">工單編號</div>
                	<div class="table-col-lg">訂單編號</div>
                	<div class="table-col">客戶名稱</div>
                	<div class="table-col">工單狀態</div>
                	<div class="table-col">輸入日期</div>
                	<div class="table-col"></div>
				</li>
				<div class="smartfac-table-body"></div>
			</ul> -->
        </div>
        <div id="compare-no-data-block">
        	無資料顯示
        </div>
    </div>
</div>

<script src="../../../build/bundle/compare-index.js"></script>

</body>
</html>
