.navbar {
    min-width: 1200px;
    background-color: @clouds;
    border-bottom: @silver 3px solid;
    
    li a {
        color: @silver;
        margin-bottom: -3px;
        padding-top: 25px;
        padding-bottom: 25px;
        border-bottom: @silver 3px solid;

        &:hover {
            color: @concrete;
            background-color: @clouds;
            border-bottom: @concrete 3px solid;
        }
    }

    li.active a {
        color: @concrete;
        border-bottom: @concrete 3px solid;
    }

    li.account a {
        padding: 0;
    }

    .pull-right {
        margin-right: 20px;
    }
}